.userList li{
  padding: 3px;
  display: flex;
  align-items: center;
}
.userList span{
  padding: 0 7px;
}
.userList li:hover{
  color: #222;
}
.userList li:hover .fa-times{
  color: red;
  cursor: pointer;
}
.userList .fa-times{
  margin-left: auto;
}